
/* global style */

a {
    color: rgb(39, 38, 38) !important;
}


/* ...................... main page ...................... */

/* Navar */

#logo {
    height: 70px;
    margin-left: -10px;
}

#text-logo {
    height: 50px;
    margin-left: -20px;
}

.logo {
    background-image: url("./images/logo/lp-logo.jpg");
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
}

.text-logo {
    background-image: url("./images/logo/text-lp-logo.jpg");
    height: 60px;
    width: 280px;
    background-size: cover;
    background-position: center;
    margin-right: 950px;
    /* margin-left: -20px; */
}

.search-box {
    width: 650px;
}

/* listing */

.listing-card {
    width: 18rem;
}