
/* global style */

a {
    color: rgb(39, 38, 38) !important;
}

.left-align {
    display: flex;
    align-items: left;
}

.gold-color {
    color: rgb(250, 152, 6);
    /* font-weight: bold; */
}


/* ...................... main page ...................... */

/* Navar */

#logo {
    height: 70px;
    margin-left: -10px;
}

#text-logo {
    height: 50px;
    margin-left: -20px;
}

.logo {
    background-image: url("./images/logo/lp-logo.jpg");
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
}

.text-logo {
    background-image: url("./images/logo/text-lp-logo.jpg");
    height: 60px;
    width: 280px;
    background-size: cover;
    background-position: center;
    margin-right: 950px;
    /* margin-left: -20px; */
}

.search-box {
    width: 650px;
}

/* ..... Carousel ..... */

.text {
    color: rgb(43, 42, 42);
    /* text-align: left; */
}

.sell-btn {
    margin-left: 65px;
}

.custom-caption-carousel {
    margin-left: -50px;
}

.cap-text {
    font-size: 22px;
}

.margin-bottom {
    margin-bottom: -12px;
}

.second-custom-cap-carousel {
    margin-left: 45px;
}

.second-carousel-text {
    font-size: 16.5px;
}

.second-custom-cap-carousel-btn {
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 90px;
}

.third-custom-caption-carousel {
    margin-left: -70px;
}

.third-carousel-text {
    font-size: 18px;
}

.third-margin-btm {
    margin-bottom: 70px;
}

/* listing */

.listing-card {
    width: 18rem;
    height: 465px;
}

/* footer */
.footer-row {
    background-color: rgb(177, 174, 174);
    /* background-color: rgb(155, 151, 151); */
    border: solid rgb(136, 136, 136);
}